body {
    font-family: sans-serif;
    background-color: rgb(255, 155, 155);
    margin-top: 150px;
}


.text-big {
    font-size: 200%;
    width:30%;
    text-align: center;
  }
  .left{
    text-align: left;
    vertical-align: bottom;

  }
  .center-right{
    width: 50%;
    float: right;
  }

.bold {
    font-weight: bold;
    width:100%
    text-align:center;
}

.img-medium {
  height:250%
  width:50%;
  float: right;
  }
.img-original {
  height:70%;
  width: 50%;
  float: left;
}


.text-medium{
  font-size: 100%;
  margin-top:20px;
  float: left;
  vertical-align: bottom;
}
.right_text-medium{
  font-size: 100%;
  margin-top:20px;
  float: right;
}


}
