body {
    font-family: sans-serif;
    background-color: rgb(255, 155, 155);
    margin-top: 150px;
}


.text-big {
    font-size: 200%;
    width:20%;
    text-align: center;
  }
  .left{
    text-align: left;
    vertical-align: bottom;

  }
  .center-right{
    width: 20%;
    float: right;
    text-align: center;
    vertical-align: middle;
    word-wrap: normal;
  }

.bold {
    font-weight: bold;
    width:30%
    text-align:center;
    word-wrap: normal;
}

.img-medium {
  margin-top: 170px;
  height:300%
  width:50%;
  float: right;
  }
.img-original {
  height:70%;
  width: 50%;
  float: left;
}


.text-medium{
  font-size: 150%;
  margin-top:150px;
  text-align: left;
  margin-left: 50px;
  vertical-align: bottom;
  word-wrap: normal;
  width: 20%;
}
.right_text-medium{
  font-size: 100%;
  margin-top:20px;
  float: right;
  word-wrap: normal;
  width:20%;
}
.right_text-big{
  text-align: right;
  vertical-align: bottom;
  font-size: 200%;
  width:20%;
  word-wrap: normal;
  margin-left: 300px;

}
.center_text-big{
  vertical-align: bottom;
  text-align: center;
  font-size: 200%;
  width:20%;
  margin-left: 200px;
  font-style: italic;
}

}
